[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

biopython = "*"
ipykernel = "*"
gffutils = "*"
matplotlib = "*"
pandas = "*"
pybedtools = "*"
pysam = "*"
openpyxl = "*"
numpy = "*"
seaborn = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bootstrap = "*"
flask-wtf = "*"


[dev-packages]

